{% extends "base.html" %}
{% import 'utils.html' as utils %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Run XPath queries against Matlab ASTs.</h1>
      {{ utils.search_bar(url_for('benchmark_list')) }}
    </div>
  </div>

  <div class="container">
    <div class="row">
    <h1>Try some of these examples:</h1>
    <table class="table">
    {% for query in queries[:5] %}
    <tr><td>{{ query.name }}</td>
    <td><a href="{{ url_for('benchmark_list', query=query.xpath) }}">{{ query.xpath }}</a></td>
    </tr>
    {% endfor %}
    </table>
 
    <h1>Or these user-submitted queries:</h1>
    <form method="post" action="{{ url_for('delete_query') }}">
    <table id="user-queries" class="table">
    {% for query in queries[5:] %}
    <tr>
    <td>{{ query.name }}</td>
    <td><a href="{{ url_for('benchmark_list', query=query.xpath) }}">{{ query.xpath }}</a></td>
    <td>
    <button name="xpath" type="submit" value="{{ query.xpath }}" class="btn btn-xs btn-danger">
      {{ utils.icon('trash', text='Delete') }}
    </button>
    </td>
    </tr>
    {% endfor %}
    </table>
    </form>
    </div>
  </div>

</div>
{% endblock %}

{% block extrajs %}
<script>
$(function() {
  function bootbox_confirm(title, callback) {
    bootbox.dialog({
      message: title,
      onEscape: function() { return callback(false); },
      buttons: {
        'Cancel': {
          className: 'btn-default',
          callback: function() { return callback(false); },
        },
        'OK': {
          className: 'btn-danger',
          callback: function() { return callback(true); },
        },
      },
    });
  };
  $('#user-queries tr').each(function() {
    var query_name = $(this).find('td:first').text();
    $(this).find('td button').click(function(e, confirmed) {
      if (confirmed) {
        return;
      }
      e.preventDefault();
      var self = this;
      bootbox_confirm('Are you sure you want to delete "' + query_name + '"?', function(result) {
        if (result) {
          $(self).trigger('click', true);
        }
      });
    });
  });
});
</script>
{% endblock %}
