{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
  <h3>Links</h3>
  <ul>
  <li>A different (obsolete) implementation of McBench is described in chapter 3 of
  <a href="http://www.sable.mcgill.ca/publications/thesis/masters-sradpo/sradpothesis.pdf">
  Soroush Radpour's Master's thesis</a>.</li>
  <li>The XPath engine McBench uses supports only XPath 1.0, not 2.0.
      A useful resource is the <a href="http://www.w3.org/TR/xpath/">XPath 1.0 specification</a>.</li>
  <li>This <a href="http://www.w3schools.com/xpath/default.asp">XPath reference</a> is useful (more convenient than the spec),
       but describes XPath 2.0. (For example, many of the functions it describes won't work here.)</li>
  <li>This file describes the <a href="https://raw.github.com/Sable/mclab/develop/languages/Natlab/src/natlab.ast">structure of the Matlab AST</a>. Within each benchmark, each file has an XML tab which contains a pretty-printed view of the XML AST; this can help you devise queries.</li>
  </ul>
  <h3>Extensions</h3>
  <p>McBench introduces some XPath extensions to make queries more convenient.<p>
  <ul>
    <li>In the context of an <code>AssignStmt</code>, <code>lhs()</code> and <code>rhs()</code> get at the
    left and right hand sides, respectively.</li>
    <li>In the context of a <code>ParameterizedExpr</code>, <code>num_args()</code> returns the number of
    arguments, and <code>arg(i)</code> returns the argument at index <code>i</code> (starting from 1).</li>
    <li><code>is_call(names)</code> is a predicate that returns true if the node
    represents a call to a function whose name is in <code>names</code>, which may be
    an XPath path expression or a (possibly empty) comma-separated list of string literals. Some examples:
    <ul>
      <li><code>//ParameterizedExpr[is_call()]</code> selects all function calls.</li>
      <li><code>//ParameterizedExpr[is_call('eval', 'feval')]</code> selects all calls
      to either <code>eval</code> or <code>feval</code>.</li>
      <li><code>//ParameterizedExpr[is_call(ancestor::Function/@name)]</code> selects
      all calls to functions that are ancestors of the call. In the simplest case this means
      recursive calls; in the presence of nested functions, it could either the nested function
      or the enclosing function.</li>
    </ul>
    </li>
  </ul>
  </div>
</div>
{% endblock %}
