{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Run XPath queries against Matlab ASTs.</h1>
      <form method="get" action="{{ url_for('benchmark_list') }}" class="form-inline">
        <input name="query" type="search" class="form-control input-lg" style="width:80%;"
               value="{{ request.values.get('query', '') }}" />
        <button type="submit" class="btn btn-default btn-lg">Search</button>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row">
    <h1>Try some of these examples:</h1>
    <table class="table">
    {% for name, xpath in examples %}
    <tr><td>{{ name }}</td><td><a href="{{ url_for('benchmark_list', query=xpath) }}">{{ xpath }}</a></td></tr>
    {% endfor %}
    </table>
 
    <h1>Or these user-submitted queries:</h1>
    <form method="post" action="{{ url_for('delete_query') }}">
    <table class="table">
    {% for query in queries %}
    <tr>
    <td>{{ query.name }}</td>
    <td><a href="{{ url_for('benchmark_list', query=query.xpath) }}">{{ query.xpath }}</a></td>
    <td>
    <button name="id" type="submit" value="{{ query.id }}" class="btn btn-xs btn-danger">
      Delete <span class="glyphicon glyphicon-trash"></span>
    </button>
    </td>
    </tr>
    {% endfor %}
    </table>
    </form>
    </div>
  </div>

</div>
{% endblock %}
