{% extends "base.html" %}
{% import 'utils.html' as utils %}

{% block extrahead %}
<style>
.benchmark .title { font-size: 1.8em; }
.benchmark hr { margin: 0 auto 10px auto; }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span12">
    {{ utils.search_bar(url_for('benchmark_list')) }}
  <h3>Found {{ utils.plural('benchmark', benchmarks|length) }}.</h3>
  {% for benchmark in benchmarks %}
    <div class="benchmark">
      {% if not loop.first %}<hr>{% endif %}
      <p>
      <span class="title"><a href="{{ url_for('benchmark', name=benchmark.name) }}">{{ benchmark.title }}</a></span>
      <span>&mdash; <a href="{{ benchmark.url }}">(view on file exchange)</a></span>
      </p>
      <p class="summary">{{ benchmark.summary }}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
